<!-- Dropdown Structure -->
<ul id="signUpDropdown" class="dropdown-content">
    <li class="cart-item">
        <h5><b>Sign Up Cart:</b></h5>
    </li>
    <% if (signUps && signUps.length > 0) { %>
        <% signUps.forEach(activity => { %>
            <li class="cart-item">
                <form action="/activities/<%= activity._id %>/sign-up" method="POST">
                    <input type="hidden" name="_method" value="DELETE">
                    <div class="row">
                        <%= activity.title %>
                        <button type="submit" class="btn red">X</button>
                    </div>
                </form>
                <div class="divider"></div>
            </li>
        <% }); %>
        <li class="cart-item"><a class="btn white-text " href="/sign-up">Sign Up</a></li>
    <% } else { %>
        <li class="cart-item">Your cart is empty.</li>
    <% } %>
</ul>

<!-- Navbar -->
<nav class="teal lighten-1">
    <div class="nav-wrapper container">
        <a href="" data-target="side-nav" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i></a>
        <ul class="sidenav" id="side-nav">
            <li><a href="/">View All Activities</a></li>
            <li><a href="/sign-up">Sign Up for Activities</a></li>
            <li><a href="/questions">Submit a Question</a></li>

            <!--Render navbar links based on whether the user is logged in.-->
            <% if (user) { %>
                <li><a href="/activities/my-activities">View My Activities</a></li>
                <li><a href="/activities/create">Create an Activity</a></li>
                <li><a href="/users/logout">Log Out</a></li>
            <% } else { %>
                <li><a href="/users/register">Register for an Account</a></li>
                <li><a href="/users/login">Log In</a></li>
            <% } %>
        </ul>
        <a class="dropdown-trigger right" data-target="signUpDropdown">Sign Up Cart <i class="fas fa-shopping-cart"></i></a>
    </div>
</nav>