<div class="fixed-action-btn">
    <a class="waves-effect waves-light btn btn-large deep-purple lighten-3" href="/questions"><i class="fas fa-question" style="font-size: 0.4cm;"></i> Submit a Question </a>
</div>