p {
    margin: 10px 0 !important;
    font-size: 16px;
}

.card-title p {
    font-size: 20px;
}

.fa-small {
    font-size: 16px !important;
}

.btn-float {
    float: left;
    margin-right: 10px;
}

#cart {
    margin: 5px 10px;
}

#cart li, #cart li a {
    display: inline-flex;
    align-items: center;
}