<div class="container">
    <h4 style="margin-bottom:0.8cm;">Log in</h4>
    <p>Log in to create your own activity posts, speed up the activity sign-up process, save and see the activities you signed up for, and/or change your RSVPs.</p>
    
    <div class="section">
        <form action="/users/login" method="POST">
            <div class="row">
                <div class="input-field">
                      <input
                        type="text"
                        name="username"
                        placeholder="Enter a Username"
                        value="<%= typeof username != 'undefined' ? username : '' %>"
                      >
                      <label for="username">What is Your Username?</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field">
                    <input
                      type="password"
                      name="password"
                      placeholder="Enter a Password"
                      value="<%= typeof password != 'undefined' ? password : '' %>"
                    />
                    <label for="password">What is Your Password?</label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn"><i class="fas fa-check"></i> Log In</button>
            </div>
        </form>
    </div>
    
    <div class="divider"></div>

    <div class="section">
        <p>Don't have an account? <%- include ("./../partials/register_btn"); %> for an account OR <%- include ("./../partials/home_btn"); %></p>
    </div>
</div>